* {
  margin: 0;
}

body {
  background: #171717;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
main {
  display: flex;
  padding: 30px 80px;
}

.image-gallery {
  color: #fff;
  margin-bottom: 20px;
  margin-top: 5px;
  text-align: center;
}

.details input,
.comment-input {
  background: transparent;
  display: block;
  color: #a0a7ae;
  border: 2px solid #2e3032;
  font-size: 14px;
  margin-top: 20px;
  padding: 14px 19px 16px 19px;
  border-radius: 0;
  width: 100%;
  line-height: 20px;
  margin-bottom: 10px;
  letter-spacing: 0.7px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none;
}

.input-field-container {
  flex: 1;
  padding-left: 40px;
}

.details input::placeholder {
  color: #b1bccb;
}

.submit-btn {
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  padding: 15px 30px;
  outline: none;
  margin-top: 15px;
  width: 100%;
  color: #ffffff;
  background: #3a3e43;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.submit-btn:hover {
  background-color: #82a853;
  outline: none;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  border: none;
  color: #fff;
  background: #3a3e43;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 15px;
  text-align: center;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #82a853;
  outline: none;
}

.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  margin-right: 0.25em;
}
.inputfile:focus + label {
  outline: none;
}

.images-container {
  display: grid;
  flex: 2.5;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
}

.images-container h5 {
  color: #fff;
  text-transform: capitalize;
  font-size: 22px;
  line-height: 32px;
  margin-top: 10px;
  font-weight: 400;
}

.image-card {
  font-family: "Oswald", sans-serif;
  text-align: center;
  padding: 5px;
  position: relative;
}

.overlay {
  position: absolute;
  top: 5px;
  bottom: 0;
  left: 5px;
  right: 0;
  height: 0px;
  width: 97%;
  opacity: 1;
  transition: 0.5s ease;
  background: rgba(58, 62, 67, 0.7);
  overflow: hidden;
}

@keyframes showOverlay {
  from {
    height: 0px;
  }
  to {
    height: 350px;
  }
}

.overlay div {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.image-card:hover .overlay {
  animation: showOverlay 0.3s 1;
  height: 350px;
}

.image {
  object-fit: cover;
  height: 350px;
  width: 100%;
}

.load-more-btn {
  background-color: #405d7d;
  border-color: #6c757d;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: auto;
  outline: none;
  padding: 8px 20px;
  text-align: center;
  visibility: visible;
  width: 20%;
}

.load-more-btn:hover {
  background-color: #fff;
  border-color: #405d7d;
  color: #405d7d;
  outline: none;
}

/* Modal */

.modal {
  color: #fff;
  display: flex;
  background-color: #000;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
  height: auto;
  position: fixed;
  top: 10%;
  left: 18%;
  width: 65%;
}

.modal-image {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

.close-modal {
  background-color: rgba(32, 33, 36, 2.5);
  border-radius: 50%;
  float: right;
  padding-left: 10px;
  transition: 350ms all;
  width: 5%;
}

#closeModal {
  color: grey;
  cursor: pointer;
  font-size: 20px;
}

.title {
  margin-top: 50px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.round {
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 50px;
  padding: 8px 16px;
  text-decoration: none;
  position: absolute;
}

.round:hover {
  color: #4caf50;
}

.round.disabled:hover {
  background-color: #ddd;
}
.previous {
  left: 0%;
  top: 50%;
}

.next {
  right: 0%;
  top: 50%;
}

.disabled {
  background-color: #ddd;
  color: #d6d1d1;
  cursor: default;
}

.hidden {
  visibility: hidden;
}

.fas {
  color: #fff;
  font-size: 25px;
}

.image-container {
  flex: 1;
  position: relative;
}

.comment-container {
  flex: 1;
  padding: 30px;
}

.comment-container p {
  margin-bottom: 10px;
}

.comment-container:nth-child(2) {
  text-transform: capitalize;
}

@media only screen and (max-width: 600px) {
  .images-container {
    grid-template-columns: 1fr;
  }

  main {
    flex-wrap: wrap-reverse;
    padding: 20px 10px;
  }

  .images-container {
    flex-basis: 100%;
  }

  .input-field-container {
    padding: 0px;
  }

  .close-modal {
    width: 15%;
  }

  .modal {
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    flex-wrap: wrap;
  }

  .image-container,
  .comment-container {
    flex-basis: 100%;
  }
}
