* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
main {
  padding: 0 200px;
}

.image-gallery {
  margin-bottom: 20px;
  margin-top: 5px;
  text-align: center;
}

.details input {
  border: 1px solid #e2e8f0;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  width: 30%;
}

.details input::placeholder {
  color: #b1bccb;
}

.submit-btn {
  color: #fff;
  background-color: #1e41aa;
  border: 1px solid #1e41aa;
  border-radius: 5px;
  cursor: pointer;
  padding: 12px 30px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  border: 1px solid #1e41aa;
  color: #1e41aa;
  background-color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 15px;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #1e41aa;
  color: white;
}

.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  margin-right: 0.25em;
}
.inputfile:focus + label {
  outline: none;
}

.pixel {
  text-transform: uppercase;
}

.box {
  background-color: red;
  padding: 0px 14px;
  font-size: 25px;
  margin: 10px;
}

.images-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-top: 20px;
}

.image-card {
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}

.image {
  border-radius: 5px;
  object-fit: cover;
  height: 230px;
  width: 100%;
}

.load-more-btn {
  background-color: #405d7d;
  border-color: #6c757d;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: auto;
  outline: none;
  padding: 8px 20px;
  text-align: center;
  visibility: visible;
  width: 20%;
}

.load-more-btn:hover {
  background-color: #fff;
  border-color: #405d7d;
  color: #405d7d;
  outline: none;
}

/* Modal */

.modal {
  background-color: #fff;
  border: 2px solid black;
  border-radius: 8px;
  height: 600px;
  position: fixed;
  top: 20%;
  left: 40%;
  margin-top: -100px;
  margin-left: -250px;
  padding: 10px 5px 0 20px;
  display: block;
  width: 50%;
}

#closeModal {
  color: grey;
  cursor: pointer;
  float: right;
  font-size: 20px;
}

.round {
  border-radius: 50%;
  color: white;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  padding: 8px 16px;
  background-color: #4caf50;
}

.round:hover {
  background-color: #4caf50;
}

.round.disabled:hover {
  background-color: #ddd;
}

.disabled {
  background-color: #ddd;
  color: #d6d1d1;
  cursor: default;
}

.hidden {
  visibility: hidden;
}

@media only screen and (max-width: 600px) {
  .images-container {
    grid-template-columns: 1fr !important;
  }
}
